

.titulo {
    text-align: center;
    padding: 10px;
    font-size: 35px;
    background-color: black;
    color: white;
}

.carta {
    width: 150px;
    position: relative;
    left: 100px;
    margin-left: -75px;
}

#jugador-cartas, #computadora-cartas {
    height: 250px;
}

.empate {
    padding: 15px;
    background-color: yellow;
    color: black;
    text-align: center;
}

.player-win {
    padding: 15px;
    background-color: green;
    text-align: center;
    color: black;
}

.pc-win {
    padding: 15px;
    background-color: red;
    text-align: center;
    color: white;
}

.ambos-pierden {
    padding: 15px;
    background-color: yellow;
    text-align: center;
    color: black;
}